.homepage-card[data-v-747ad7bb]{width:100%;max-width:300px}.landing[data-v-6663494a]{background-image:url(images/home_landing.png)}.site-header[data-v-6663494a]{text-shadow:1px 1px darkgrey;font-weight:bolder;font-size:38px;color:#000}
